data/
__pycache__/
proposal/runs/
proposal/proposal data/
**/pretrained_models/
**/pre_trained_models/
papers/
vis/
runs/
*.log
*.ckpt
*.pth
*.pt
*.csv
*.npy
*.npz
*.h5
*.hdf5
*.svg
*.ipynb_checkpoints
.DS_Store
.vscode/
.idea/
**/*.png
**/*.docx